/* Box sizing rules */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #23252c;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.nav-bar {
  width: 100vw;
  height: 70px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(13, 11, 11, 0.29);
}

.logo {
  height: 25.35px;
  width: 82.02px;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
}

.hero--grid {
  width: 395.91px;
  height: 232px;
  margin: 30px 0px;
}

.hero--info {
  align-self: flex-start;
  padding-left: 36px;
}

.hero--title {
  font-size: 36px;
  max-width: 347px;
  /* line-height: 110%; */
}

.hero--subtitle {
  max-width: 320px;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  overflow-x: auto;
  /* background-color: #284097; */
  /* margin: 30px; */
  padding: 30px;
}

.card {
  width: 185px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 6px;
  border-radius: 9px;
  /* box-shadow: 1px 1px 6px 3px rgba(14, 13, 13, 0.552); */
  box-shadow:  -5px -5px 10px #141518,
             9px 9px 5px #24252a;

  background: #1c1d21;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

/* ADD */
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

/* ADD */
.card--price {
  margin-top: auto;
}
.gray {
  color: #918e9b;
}
